OPENROUTER_API_KEY=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
SUPABASE_URL=https://dujojbllrkfljxcvdmnz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR1am9qYmxscmtmbGp4Y3ZkbW56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU1ODY5NjgsImV4cCI6MjA3MTE2Mjk2OH0.ZfUVjOhgh6Fq7fmCAFC26oOAem6iOb_B1hv1_u1hPGQ
